<h1>User Profile </h1>
<p>Hi, <%= @user.name %> </p>

<h2>Events created</h2>
<ul>
    <% @events.each do |event| %>
        <li>
            <%= link_to event.title, event %>
        </li>
    <% end %>
</ul>
